* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}


@media (max-width: 500px) {
    main {
        display: grid;
        grid-template-columns: 1fr;
    }
    
    main img {
        width: 100%;
    }
    
    main section {
        padding: 1rem;
    }
    
    main h1 {
        font-size: 2.5rem;
        margin-top: 1rem;
        margin-bottom: 2rem;
    }
    
    main p {
        margin-bottom: 1.25rem;
    }
    
    ul {
        margin-bottom: 2rem;
        list-style-image: url("./assets/images/icon-list.svg");
        padding-left: 1.6rem;
    }
    
    li {
        margin-bottom: 1rem;
        padding-left: 1rem;
    }
    
    .form label {
        display: block;
        font-weight: bold;
        margin-bottom: 0.5rem;
    }
    
    .form input {
        display: block;
        width: 100%;
        margin-bottom: 1.15rem;
        padding: 1rem;
        border-radius: 0.5rem;
        border: 1px solid gray;
        font-size: 1rem;
    }
    
    .form button {
        display: block;
        width: 100%;
        padding: 1rem;
        border-radius: 0.5rem;
        border: 0;
        font-weight: bold;
        font-size: 1.15rem;
        background: hsl(234, 29%, 20%);
        color: white;
    }
}

.attribution {
    display: none;
}